body, h1, p {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {

    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #353333;
    color: #ffffff;
    text-align: center;
}

p {
    margin: 20px;
    font-size: 1rem;
}
