body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
}


.indexText h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: darkred;
}

.indexText p {
    font-size: 1.2rem;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movie {
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.movie img {
    width: 100%;
    height: 90%;
    object-fit: cover;

}

.movie h3 {
    margin: 15px 0;
    object-fit: fill;
}

